---
import LinkedInIcon from "./icons/LinkedIn.astro";
import MailIcon from "./icons/Mail.astro";
import SocialPill from "./SocialPill.astro";
---

<section id="contacto" >
  <p class="mb-4 text-lg bg-white/10 p-4 rounded-lg">
    ¡Gracias por visitar mi página web! Si estás interesado en colaborar o tienes
    alguna propuesta, no dudes en ponerte en contacto conmigo. Estoy dispuesta a nuevas oportunidades.
  </p>
  <p class="text-lg">Puedes contactarme a través de mis redes sociales:</p>
  <div class="flex justify-center py-6 gap-4 flex-wrap">
    <SocialPill href="https://linkedin.com/in/mauripinoricci/">
      <LinkedInIcon class="size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="mailto:camilavitale@gmail.com">
      <MailIcon class="size-6" />
      camilavitale@gmail.com
    </SocialPill>
  </div>
</section>


